<h1>random component</h1>
<input type="number" [(ngModel)]="count" placeholder="enter a number">
<button type="submit" (click)="generateRandomNumber()">Generate</button>

<div *ngIf="numbersList.length">
    <h3>random numbers:</h3>
    <ul>
        <li *ngFor="let number of numbersList">
            {{number}}
        </li>
    </ul>
</div>